<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三维医学CT扫描图像检索系统 v1.0 beta</title>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/jstree/dist/themes/default/style.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/fileinput.min.css"/>
    <script src="/static/js/cookie.js"></script>
    <script src="/static/js/jscookie.js"></script>
    <script src="/static/js/plugins/canvas-to-blob.min.js"></script>
    <script src="/static/js/plugins/sortable.min.js"></script>
    <script src="/static/js/plugins/purify.min.js"></script>
    <script src="/static/js/fileinput.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/themes/fa/theme.js"></script>
    <script src="/static/js/locales/zh.js"></script>
    <script src="/static/js/jstree/dist/jstree.min.js"></script>
    <script src="/static/js/num.min.js"></script>

    <!--slide css and js -->
    <link rel="stylesheet" type="text/css" href="/static/js/slider/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/slider/css/jqueryui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/slider/css/jquery-ui-slider-pips.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/slider/css/app.min.css"/>


    <!-- jquery rotate css and jd-->

</head>
<body class="myContainer">
{#    <header class="header">#}
{#        三维医学CT扫描图像检索系统 <small>v1.0 beta</small>#}
{#    </header>#}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <img src="/static/images/logo.gif" alt="..." class="img-circle">
              </button>
              <a class="navbar-brand" href="#"><img src="/static/images/logo.gif" style="width: 30px;height: 30px" class="img-circle"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class={% if tabIndex == 1 %}
                        'active'
                {% endif %}><a href="/webApp/">检索图像</a></li>
                  <li class={% if tabIndex == 2 %}
                    'active'
                  {% endif %} ><a href="/webApp/queryList/1/">查询记录</a></li>
                <li class={% if tabIndex == 3 %}
                    'active'
                {% endif %}><a href="/webApp/uploadTrainFile/">添加训练数据</a></li>
                <li class="dropdown {% if tabIndex == 4 %}
                    active
                {% endif %}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">管理训练数据</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/webApp/setting">设置</a></li>
                  </ul>
                </li>
              </ul>
{#              <form class="navbar-form navbar-left">#}
{#                <div class="form-group">#}
{#                  <input type="text" class="form-control" placeholder="Search">#}
{#                </div>#}
{#                <button type="submit" class="btn btn-default">Submit</button>#}
{#              </form>#}
              <ul class="nav navbar-nav navbar-right">
{#                <li><a href="#">Link</a></li>#}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>  {{ username }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/api/logout">退出</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>
    {% include content %}
    <footer style="position:fixed;bottom:0px;left:0px;">浙江大学计算机科学与技术学院©</footer>
</body>
</html>